<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>errores</servlet-name>
        <servlet-class>cl.vista.errores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validaus</servlet-name>
        <servlet-class>cl.controlador.validaus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>cl.vista.menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar</servlet-name>
        <servlet-class>cl.controlador.cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingarriendo</servlet-name>
        <servlet-class>cl.vista.ingarriendo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vervehiculosdisp</servlet-name>
        <servlet-class>cl.vista.vervehiculosdisp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingvehiculo</servlet-name>
        <servlet-class>cl.vista.ingvehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valarriendo</servlet-name>
        <servlet-class>cl.controlador.valarriendo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaveh</servlet-name>
        <servlet-class>cl.vista.eliminaveh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valeliveh</servlet-name>
        <servlet-class>cl.controlador.valeliveh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valvehiculo</servlet-name>
        <servlet-class>cl.controlador.valvehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calcmonto</servlet-name>
        <servlet-class>cl.controlador.calcmonto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarveh</servlet-name>
        <servlet-class>cl.vista.buscarveh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>monto</servlet-name>
        <servlet-class>cl.vista.monto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arr</servlet-name>
        <servlet-class>cl.vista.arr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>errores</servlet-name>
        <url-pattern>/errores.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validaus</servlet-name>
        <url-pattern>/validaus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar</servlet-name>
        <url-pattern>/cerrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingarriendo</servlet-name>
        <url-pattern>/ingarriendo.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vervehiculosdisp</servlet-name>
        <url-pattern>/vervehiculosdisp.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingvehiculo</servlet-name>
        <url-pattern>/ingvehiculo.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valarriendo</servlet-name>
        <url-pattern>/valarriendo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminaveh</servlet-name>
        <url-pattern>/eliminaveh.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valeliveh</servlet-name>
        <url-pattern>/valeliveh.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valvehiculo</servlet-name>
        <url-pattern>/valvehiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calcmonto</servlet-name>
        <url-pattern>/calcmonto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarveh</servlet-name>
        <url-pattern>/buscarveh.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>monto</servlet-name>
        <url-pattern>/monto.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arr</servlet-name>
        <url-pattern>/arr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
